.signup {
  margin: 2.5rem;
  padding: 2.5rem 5rem;
  background: linear-gradient(160deg, rgb(54, 5, 54), rgb(15, 15, 129));
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5rem;
  min-height: calc(100vh - 5rem);
}

.form {
  background: linear-gradient(135deg, #3498db, #1875b4);

  border-radius: 7px;
  padding: 2rem 3rem;
  box-shadow: 12px 12px 2px 1px rgba(1, 1, 34, 0.333);

  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.row {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.infoMessage {
  color: #ff0000;
  margin-bottom: 1rem;
  width: 50%;
  font-size: 1.6rem;
  text-align: center;
}
